.articles {
  display: none;

  @media (min-width: $tablet-width) {
    grid-area: articles;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1200px) {
    display: block;
    grid-area: articles;
    padding-left: 50px;
    margin-top: 0;
    margin-bottom: 60px;
    padding-right: 0;
  }

  @media (min-width: 1440px) {
    display: block;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px;
    border: 1px solid $grey-medium;
    background-color: $white;
    border-radius: 10px;
    align-self: start;
    width: 192px;
    margin-left: auto;
  }

  ul {
    @include list-reset;
  }

  h3 {
    margin: 0;
    margin-bottom: 39px;
    color: $blue;
    font-weight: 500;
    position: relative;
    padding-left: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-medium;

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    &::before {
      content: url("../img/icon-book.svg");
      display: block;
      position: absolute;
      left: 0;
    }
  }

  span {
    color: $blue;
    line-height: 23px;
    margin-bottom: 20px;
    display: block;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  li {
    margin-bottom: 20px;
  }

  a {
    color: $dark;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: $blue;

      svg {
        stroke: $blue;
      }
    }
  }

  svg {
    fill: $white;
    stroke: $dark;
    margin-right: 14px;
  }

  .articles__list {
    border-bottom: 1px solid $grey-medium;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: 1200px) {
      display: block;
    }

    li {
      @media (min-width: $tablet-width) {
        margin-right: 20px;
      }
    }

    &--useful {
      @media (min-width: $tablet-width) {
        justify-content: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      @media (min-width: 1200px) {
        display: block;
      }
    }
  }
}
