.article {
  width: 300px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $grey-medium;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 280px;
    margin-bottom: 20px;
  }

  @media (min-width: 1200px) {
    width: 300px;
    margin-bottom: 20px;
  }

  @media (min-width: 1440px) {
    margin: 0;
    width: 353px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }

  figure {
    margin: 0;
    height: 100%;
    display: block;
  }

  figcaption {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  figcaption p {
    color: $blue;
    line-height: 23px;
  }

  figcaption h3 {
    @include title($font-18, $line-height-27, $medium);
    margin: 15px 0 24px;
    min-height: 81px;
  }

  figcaption time {
    color: $grey;
  }

  &--vtb,
  &--centralbank,
  &--obriver {
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }
}

.article--wide {
  border: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 740px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }

  .article__comment {
    width: 180px;
  }

  figure {
    height: 100%;
    position: relative;
  }

  figcaption {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100%;
    align-content: flex-end;
  }

  figcaption p {
    color: $white;
    margin: 0;
  }

  figcaption h3 {
    width: 100%;
    color: $white;

    @media (min-width: $desktop-width) {
      @include title($font-24, $line-height-31, $medium);
      min-height: unset;
      margin: 10px 0 20px;
    }
  }

  figcaption time {
    color: $grey;
  }
}
