.aside-news {
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    grid-area: asidenews;
  }

  @media (min-width: 1440px) {
    grid-area: asidenews;
  }

  @media (min-width: $desktop-width) {
    grid-area: asidenews;
    width: 300px;
    margin-right: auto;
    margin-bottom: 0;
    border-radius: 20px;
    align-self: start;
  }

  ul {
    @include list-reset;
  }
}

.aside-news__wrapper {
  padding: 20px;
  border: 1px solid $grey-medium;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: $white;

  a {
    color: $black;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 7px;
    display: block;

    &:hover {
      opacity: 0.7;
    }

    &:visited {
      color: $blue;
    }
  }

  h3 {
    @include title($font-20, $line-height-30, $medium);
    margin: 0;
    margin-bottom: 16px;
  }

  .aside-news__title--mobile {
    display: block;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .aside-news__title--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  .aside-news__comment {
    width: 130px;
  }
}

.aside-news__item {
  margin-bottom: 20px;
}

.aside-news__mailing {
  padding: 20px;
  border: 1px solid $grey-medium;
  border-radius: 10px;
  background-color: $white;

  h3 {
    margin: 0;
    margin-bottom: 10px;
  }
}
