.container {
  @media (min-width: 1200px) {
    margin: 0 auto;
    width: 1000px;
  }

  @media (min-width: 1440px) {
    width: 1200px;
  }

  @media (min-width: $desktop-width) {
    width: 1530px;
  }
}
