.footer-menu {
  @include list-reset;
  display: none;

  @media (min-width: 1200px) {
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 907px;
  }

  li {
    margin: 10px 20px 20px 0;
  }

  a {
    color: $grey;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
