.footer-navigation {
  margin: 0 auto;

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 3fr 8fr 3fr;
    grid-template-areas: "logo menu social";
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 3fr 7fr 2fr;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 260px 1010px 330px;
    padding-top: 108px;
  }
}

.footer-navigation__logo {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }

  @media (min-width: 1440px) {
    grid-area: logo;
  }
}

.footer-navigation__social {
  @media (min-width: 1440px) {
    grid-area: social;
  }
}
