.form {
  display: block;

  &--search {
    padding: 25px 30px;
    border: 1px solid $grey-medium;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $white;

    label {
      display: flex;
      align-items: center;
    }

    input {
      @include text($font-15, $line-height-18, $regular);
      font-family: "roboto", "Arial", sans-serif;
      outline: none;
      width: 100%;
      background-color: transparent;
      border: 1px solid transparent;

      &:focus {
        border: 1px solid $grey-medium;
      }
    }

    svg {
      transform: scale(0.7);
      margin-right: 15px;
      stroke: $grey;

      @media (min-width: $desktop-width) {
        transform: scale(1);
        stroke: $dark;
      }
    }
  }

  &--mailing {
    background-color: $white;

    label {
      width: 100%;
    }

    input {
      @include text($font-15, $line-height-23, $regular);
      font-family: "roboto", "Arial", sans-serif;
      outline: none;
      width: 100%;
      border: 1px solid $grey-medium;
      padding: 11px 14px;
      border-radius: 5px;
      margin-bottom: 15px;
    }

    button {
      @include button($font-15, $line-height-23, $medium, $white);
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: $blue;
      border-radius: 5px;
    }
  }
}
