.links-wrapper {
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    padding-top: 50px;
    padding-bottom: 50px;
    column-gap: 20px;
  }

  @media (min-width: 1440px) {
    padding-top: 31px;
    padding-bottom: 40px;
    column-gap: unset;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 360px 290px 260px 360px 328px;
  }
}

.links-wrapper__list {
  @include list-reset;

  a {
    color: $dark;

    @media (min-width: 1200px) {
      font-size: 12px;
    }

    @media (min-width: 1440px) {
      font-size: 15px;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  li {
    margin-bottom: 15px;
  }

  li:first-of-type {
    margin-bottom: 33px;

    a {
      font-weight: 500;
    }
  }
}
