.navigation {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-areas: "logo buttons";
  align-items: center;
  border-bottom: 0.5px solid $grey-medium;
  padding: 15px 10px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 2fr 10fr;
  }

  @media (min-width: 1200px) {
    border-bottom: none;
    padding: 20px 10px;
    grid-template-columns: 2fr 7fr 3fr;
    grid-template-areas: "logo menu buttons";
  }

  @media (min-width: 1440px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 203px 878px 449px;
  }

  .navigation__button {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      background-color: $green;
      color: $white;
      padding: 11px 15px;
      border-radius: 5px;
      font-weight: 500;
      margin-bottom: 20px;
      margin-left: auto;
    }

    &:hover,
    &:focus {
      background-color: $light-green;
      color: $green;

      svg {
        stroke: $green;
      }
    }

    @media (min-width: $desktop-width) {
      margin-right: 30px;
      margin-bottom: unset;
      margin-left: 0;
    }

    &--like {
      display: block;
      margin-right: 30px;
      margin-left: auto;

      @media (min-width: 1200px) {
        display: none;
      }
    }

    &--burger {
      display: block;
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      margin-right: 10px;

      @media (min-width: 1200px) {
        display: none;
      }
    }
  }

  .navigation__button-icon {
    @media (min-width: $desktop-width) {
      margin-right: 15px;
      stroke: $white;
    }
  }
}

.navigation__logo {
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    grid-area: "logo";
  }

  @media (min-width: 1440px) {
    margin-left: 0;
  }
}

.navigation__menu {
  display: none;

  @media (min-width: 1200px) {
    @include list-reset;
    display: flex;
    grid-area: "menu";
    flex-wrap: wrap;
    align-items: center;
  }

  li {
    @media (min-width: 1200px) {
      margin: 10px 10px 10px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 20px 35px 20px 0;
    }
  }

  a {
    @media (min-width: 1200px) {
      color: $dark;
      padding: 5px 0;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }
}

.navigation__buttons {
  display: flex;
  flex-wrap: wrap;
  grid-area: "buttons";
  align-items: center;
}
