.navigation {
  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 203px 878px 449px;
    grid-template-areas: "logo menu buttons";
    align-items: center;
  }

  .navigation__button {
    @media (min-width: $desktop-width) {
      background-color: $green;
      color: $white;
      padding: 11px 15px;
      border-radius: 5px;
      font-weight: 500;

      &:hover,
      &:focus {
        background-color: $light-green;
        color: $green;

        svg {
          stroke: $green;
        }
      }
    }
  }

  .navigation__button-icon {
    @media (min-width: $desktop-width) {
      margin-right: 15px;
      stroke: $white;
    }
  }
}

.navigation__logo {
  @media (min-width: $desktop-width) {
    grid-area: "logo";
  }
}

.navigation__menu {
  @media (min-width: $desktop-width) {
    @include list-reset;
    grid-area: "menu";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li {
    @media (min-width: $desktop-width) {
      margin-right: 35px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  a {
    @media (min-width: $desktop-width) {
      color: $dark;
      padding: 5px 0;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }
}

.navigation__buttons {
  @media (min-width: $desktop-width) {
    grid-area: "buttons";
  }
}
