.news {
  background-color: $white-grey;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-area: news;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.news__wrapper {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: 1440px) {
    margin-bottom: 0;
    justify-content: space-between;
  }
}
