.news {
  background-color: $white-grey;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    grid-area: news;
  }

  @media (min-width: 1440px) {
    grid-area: news;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    grid-area: news;
  }
}

.news__wrapper {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: 1200px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
