.page-header {
  min-width: 320px;
  //padding-top: 30px;
  //padding-left: 10px;
  //padding-right: 10px;
  margin: 0 auto;
  background-color: $white;
  position: relative;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
  }
}
