.page-main {
  //grid-template-columns: 320px;
  //grid-template-areas: "asidenews"
  //  "news";
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  //min-width: 320px;

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas: "search search search"
      ". title title"
      "articles news news"
      "articles news news"
      //"asidenews asidenews asidenews";
      "asidenews news news"
      "asidenews news news";
    column-gap: 20px;
    padding-top: 30px;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas: ". title title ."
      "articles news news search"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews";
    column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 310px 353px 353px 420px;
    grid-template-areas: ". title title ."
      "articles news news search"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews"
      "articles news news asidenews";
    column-gap: 30px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    @include title($font-18, $line-height-27, $medium);
    margin: 0;
    margin-bottom: 20px;

    @media (min-width: 1200px) {
      @include title($font-28, $line-height-28, $medium);
      grid-area: title;
      display: block;
    }

    @media (min-width: 1440px) {
      grid-area: title;
      display: block;
    }

    @media (min-width: $desktop-width) {
      @include title($font-36, $line-height-36, $medium);
      grid-area: title;
      width: 100%;
      display: block;
      margin-bottom: 41px;
    }
  }
}
