.search {
  width: 100%;
  order: -1;

  @media (min-width: $tablet-width) {
    order: unset;
    grid-area: search;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    width: 300px;
  }
}
