.social-list {
  @include list-reset;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: 1440px) {
    grid-area: social;
    align-items: center;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    margin-right: 20px;

    &:hover,
    &:focus {
      svg {
        opacity: 0.7;
      }
    }
  }
}

.social-list__item--youtube,
.social-list__item--whatsapp {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.social-list__item--fb {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
