//COLOR VARIABLES
$white-grey: #ececec;
$dark: #181818;  // основной цвет шрифта
$white: #ffffff; //один из основных цветов фона
$green: #7ab764; // цвет кнопок
$light-green: #def1d7; //цвет кнопок
$blue: #586eb6; // цвет кнопок
$light-grey: #f4f4f4; // цвет футера
$grey: #9e9e9e; //цвет текста в placeholder


$desktop-width: 1440px;  // (приставка max-desktop-width - максимум пишем когда идем от desktop к mobile (1920px - 320px;)

//RETINA VARIABLES
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//FONTS VARIABLES
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$font-8: 8px;
$font-10: 10px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-21: 21px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-32: 32px;
$font-34: 34px;
$font-36: 36px;
$font-40: 40px;
$font-48: 48px;
$font-50: 50px;
$font-54: 54px;
$font-60: 60px;
$font-90: 90px;
$line-height-8: 8px;
$line-height-12: 12px;
$line-height-13: 13px;
$line-height-14: 14px;
$line-height-15: 15px;
$line-height-16: 16px;
$line-height-17: 17px;
$line-height-18: 18px;
$line-height-19: 19px;
$line-height-20: 20px;
$line-height-21: 21px;
$line-height-22: 22px;
$line-height-24: 24px;
$line-height-25: 25px;
$line-height-27: 27px;
$line-height-31: 31px;
$line-height-32: 32px;
$line-height-34: 34px;
$line-height-36: 36px;
$line-height-39: 39px;
$line-height-40: 40px;
$line-height-42: 42px;
$line-height-45: 45px;
$line-height-48: 48px;
$line-height-51: 51px;
$line-height-60: 60px;
$line-height-61: 61px;
$line-height-66: 66px;
$line-height-90: 90px;
